<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="text-light" [routerLink]="['login']" *ngIf="!_ser.islogedin()">Sign In</a>
      <a class="text-light" *ngIf="_ser.islogedin() "  (click)="logOut()">Log Out</a>
    </form>
  </div>
</nav> -->

<div class="row align-items-center py-3 px-xl-5">
  <div class="col-lg-3 d-none d-lg-block">
      <a href="" class="text-decoration-none">
          <h1 class="m-0 display-5 text-dark font-weight-semi-bold" style="font-size: 30px;"><span class="text-primary text-dark font-weight-bold border px-3 mr-1"><i class="fa fa-cart-arrow-down" style="color:orangered" aria-hidden="true"></i></span>Shopping Mart</h1>
      </a>
  </div>
  <div class="col-lg-6 col-6 text-left">
      <form action="">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for products">
              <div class="input-group-append">
                  <span class="input-group-text bg-transparent text-primary">
                      <i class="fa fa-search"></i>
                  </span>
              </div>
          </div>
      </form>
  </div>
  <div class="col-lg-3 col-6 text-right">
      <a href="" class="btn border">
        <i class="fa fa-heart" aria-hidden="true" style="color:orangered"></i>
          <span class="badge bg-light text-dark">0</span>
      </a>
      <a href="" class="btn border">
        <i class="fa fa-cart-arrow-down" style="color:orangered " aria-hidden="true"></i>
          <span class="badge bg-light text-dark">0</span>
      </a>
  </div>
</div>


